<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobanker.financial.dao.FinanceBankCardDao">
	<resultMap id="getMap" type="com.mobanker.financial.entity.FinanceBankCard">
	</resultMap>

	<select id="getBankCardByDate" parameterType="Date" resultMap="getMap">
		SELECT 
		  * 
		FROM
		  `finance_bank_card` t1
		WHERE DATE(t1.`create_time`) = DATE(#{date})
	</select>
</mapper>